In [1]:
from utils.ranking_system import UniversalRatingSystem
from utils.tournament_helper import load_tournaments_from_history

### Reading Data

In [2]:
universal_rating_system = UniversalRatingSystem()

load_tournaments_from_history(universal_rating_system)

for tournament in universal_rating_system.tournaments:
    universal_rating_system.printRankingChange(tournament)

Going back in time!

100%|██████████| 13/13 [00:01<00:00, 12.97it/s]

Championship #1

 -----------------------------

Championship #2

 -----------------------------

Championship #3

 -----------------------------

Championship #4

 -----------------------------

Championship #5

 -----------------------------

Mini Championship #1

 -----------------------------

Championship #6

 -----------------------------

Championship #7

 -----------------------------

Mini Championship #2

 -----------------------------

Championship #8

 -----------------------------

Mini Championship #3

 -----------------------------

International Friendly #2

 -----------------------------

Tiny Championship #1

 -----------------------------