In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from utils.data_preprocessor import get_tourney_data, get_players, get_game_data_as_timeseries
from utils.data_cruncher import get_bid_and_won_stats, get_player_stats
from utils.data_cruncher import get_tri_stats, get_pairwise_stats
from utils.plot_utils import plot_leaderboard_timeseries, plot_performance_timeseries, plot_leaderboard_barplot
from utils.ranking_system import compute_ranking, print_score_keeper

### Reading Data

In [4]:
championship_count = 7
mini_championship_count = 2



for tourney_number in range(1, 1+championship_count):
    raw_df = get_tourney_data(tourney_number, is_mini_championship=False)

game_data = get_game_data_as_timeseries(raw_df)
players = get_players(raw_df)

print(f'## 3 of Spades Championship - {TOURNEY_NUMBER}')
print(f'Players participating in this Championship are : {players}')

# raw_df.head()

## 3 of Spades Championship - 2
Players participating in this Championship are : ['Abhi', 'Akash', 'Prateek', 'Nats']

In [12]:


score_keeper = compute_ranking(raw_df)
print_score_keeper(score_keeper)

Abhi 957.4258240296946
Akash 1016.5292402237702
Prateek 1032.5060531757094
Nats 1001.8022308081038